div.Slide
	h1 Устройство программы
	h2 Программа в аренду
	p Storewizard это программа которая сдается в аренду. Да, как офис или жилье. Вот так просто. И вот очевидные плюсы такого подхода:
	ul
		li Нет внедрению! Работать с системой можно сразу после регистрации. А еще, вы можете попробовать Демо версию продукта прямо a(href="demo.storewizard.ru") сейчас
		li Все затраты распределны по времени. Вы застрахованы от финансовых рисков на старте. Вы платите по факту, только за то чем пользуетесь
		li Резервное копирование, организация доступа, организация отказаустойчевого сервера путем дублирования его частей, заработная плата системному администратору - все это в прошлом. Это наши проблемы.
div.Slide
	h1 Устройство программы
	h2 Программа в аренду
	p Вы можете точно рассчитать стоимость аренды программы. Для этого воспользуйтесь нашим калькулятором. Выберите продукт, выберите срок и в таблицу Результат будет загружена информация
	div
		img(src=offset+"images/presentation-general-9.png")
