div.Mask
div.Window.Presentation(id="presentation-store")
	div.Header Презентация
		div.Button.Close(title="Закрыть окно", onclick="Main.Window.OnClickClose(this);")
	div.Body
		div.Display
			div.Tape
				include presentation-store-slides
				div.Slide
					h1 Устройство программы
					h2 Что дальше?
					ul
						li Вы можете узнать больше о 
							a(href="javascript: Main.Window.Open('presentation-wizard', true)") Мастере
						li Вы можете узнать больше о 
							a(href="javascript: Main.Window.Open('presentation-saas', true)") Аренде программы
						li Вы можете узнать больше о 
							a(href="javascript: Main.Window.Open('presentation-mobile', true)") Мобильной версии программы
						li Вы можете открыть 
							a(href="javascript: Main.Window.Open('calculate', true)") Калькулятор и прикинуть сколько это будет стоить
						li Вы можете попробовать программу, открыть ее 
							a(href="/demo.storewizard.ru") демо версию
						li Вы можете прочитать 
							a(href="/support/") отзывы о программе
						li Вы можете 
							a(href="javascript: Main.Window.Open('register', true)") приобрести программу
		div.Control
			div.Buttons(align="center")
				div.Icon.Begin(onclick="Main.StoreSlider.OnClickBegin();")
				div.Icon.Back(onclick="Main.StoreSlider.OnClickBack();")
				div.Icon.Forward(onclick="Main.StoreSlider.OnClickForward();")
				div.Icon.End(onclick="Main.StoreSlider.OnClickEnd();")
script
	Main.StoreSlider = {
		OnReady: function() {
			Main.Slider.OnReady.call(Main.StoreSlider, '#presentation-store');
		},
		OnClickBegin: function() {
			return Main.Slider.OnClickBegin.call(Main.StoreSlider);
		},
		OnClickEnd: function() {
			return Main.Slider.OnClickEnd.call(Main.StoreSlider);
		},
		OnClickBack: function() {
			return Main.Slider.OnClickBack.call(Main.StoreSlider);
		},
		OnClickForward: function() {
			return Main.Slider.OnClickForward.call(Main.StoreSlider);
		}		
	}