div.Slide
	h1 Устройство программы
	h2 Мастер
	p Мастер предназначен для организации информации внутри хранилища. Мастер может быть вызван из хранилища путем нажатия на кнопку Мастер. Что будем делать? Добавим новую вкладку?
	div
		img(src=offset+"images/presentation-general-6.png")
div.Slide
	h1 Устройство программы
	h2 Мастер
	p Давайте изменим поле Тип операции. Пусть у нас будет еще один тип - Перевод. Подводим курсор к полю, нажимаем на нем, пишем, сохраняем. Вот и все, вся премудрость
	div
		img(src=offset+"images/presentation-general-7.png")
div.Slide
	h1 Устройство программы
	h2 Мастер
	p Вы можете связывать вкладки. Выберите Тип связь. Далее выбираем вкладку, выберем поле в это вкладке и выберем действие. Все, теперь программа сама все считает
	div
		img(src=offset+"images/presentation-general-8.png")
