div.Slide
	h1 Устройство программы
	h2 Все здесь и сейчас
	p Ситуаций, когда информация нужна здесь и сейчас ни так и мало. С развитием мобильной связи стоять на месте стало просто не возможно.
	p Storewizard это программа работающая в режиме реального времени. Не нужно нажимать F5 постоянно. Вся информация придет сразу же, как только она будет добавлена.
	p Используя это ее свойство вы легко сможете расширить свой штат сотрудников, все будут в теме
div.Slide
	h1 Устройство программы
	h2 Все здесь и сейчас
	p Менеджер получил заявку. По телефону, по электронной почте, или с сайта, с интернет-магазина. Менеджер заносит эту информацию в storewizard
	div
		img(src=offset+"images/presentation-general-10.png")
div.Slide
	h1 Устройство программы
	h2 Все здесь и сейчас
	p Сотрудник, что находится в другом офисе, видит новую информацию в тот же момент. Причем, не имеет значение, что у него в руках: ноутбук, планшет или мобильный телефон
	div
		img(src=offset+"images/presentation-general-11.png")
