div.Slide
	h1 Устройство программы
	h2 Мобильная версия
	p Storewizard есть и в мобильной версии. Для планшетов и для телефонов. Поддерживаются OS Android и Apple iOS
	div
		img(src=offset+"images/presentation-general-12.png")
